@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #232644;
}

.vf {
    color: blanchedalmond;
    background-color: purple;
    height: 100vh;
    width: 100vw;
    margin: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.vb {
    background-color: bisque;
    color: black;
    height: 20%;
    width: 20%;
    padding: 40px;
    border-radius: 100%;
}

.vc {
    background-color: red;
    color: blue;
    height: 20%;
    width: 20%;
    padding: 40px;
}

nav {
    background-color: #1d2335;
    height: 64px;
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

i {
    color: whitesmoke;
    font-size: 40px;
}

nav ul {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 30%;
    list-style: none;
    font-weight: 700;
    font-family: 'Cairo', sans-serif;


}

nav a {
    color: white;
    text-decoration: none;
}

.item {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    font-size: 40px;
    align-items: center;
    display: grid;
    transition: 0.5s;



}

li {
    list-style: none;
}

.items {

    gap: 20px;
    /*espace entre les icones*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

section {
    height: 50vh;
    width: 50vw;
    background-color: #23263a;

}

#Home {
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;

}

a {}

.item:hover {

    transform: scale(1.2);
    background-color: aliceblue;



}

.item:hover i {
    color: red;
}

i {
    transition: 0.5s;
}



.home-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;


}

#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: linear-gradient(360deg, rgba(2, 0, 36, 0.899130514022015) 0%, rgba(20, 9, 121, 0) 81%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.home-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.home-right img {
    width: 250px;
    height: 400px;
    object-fit: cover;

}

.img-container {
    width: 250px;
    height: 400px;
    position: relative;

}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(35, 38, 58, 1) 81%);
}

h2 {
    font-family: 'Cairo',
        sans-serif;
    color: red;
    display: flex;

    justify-content: center;
}

h4 {
    font-family: 'Cairo',
        sans-serif;
    color: white;
    display: flex;

    justify-content: center;
}

.section1 {
    display: flex;

    justify-content: center;
    align-items: center;

}

.div-services {
    background-color: #282d5f;
    display: flex;
    height: 200px;
    width: 200px;
    padding-top: 10px;
    padding-left: 10px;
}
hr{
    width: 100px;
}
.services{
    height: 1000px;
    width: 100vw;
    display: flex;
background-color: #1d2335;
 

}
.grid{
    display: grid;
    height: 80px;
    width: 100%;
    padding-top: 20px;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    gap: 30px;
    justify-content: center;
    text-align: center;
  }
.grid h1{
    
        font-family: 'Cairo',
            sans-serif;
        color: black;
        display: flex;
        justify-content: center;
        padding-bottom: 0%;
}
.spacer{
    height: 10px;
    width: 100px;
    border-bottom: 2px solid white;
}
.spaceer{
    display: flex;
    justify-content: center;
}
h2{ text-align: center;}
.jsp{
    margin-top: 10px;
    display: grid;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}
.div-services {flex-direction: column;
    line-height: 50px;
}
.div-services h4{
    color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    padding-top: 0px;
}
.div-services i{
    color: red;
    display: flex;
    padding-left: 20px;
}